/* Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Tajawal', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Start Header */
header{
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px 1px #ccc;
    height: 75px;
    width: 100%;
}
.logo{
    width: 300px;
    margin-left: 182px;
}
header .links{
    display: flex;
    margin-top: 30px;
    margin-right: 200px;
}
header .links ul{
    display: flex;
    margin-right: 30px;
}
header .links ul li{
    margin-left: 52px;
    margin-right: 33px;
    font-size: 1.3em;
    color: #838bff;
    font-weight: 500;
    margin-top: -6px;
    transition: 0.2s;
}
.icons{
    position: relative;
    bottom: 4px;
}
.facebook{
    font-size: 25px;
    color:#3554ff;
    transition: 0.3s;
}
.youtube{
    font-size: 25px;
    color:red;
    transition: 0.3s;
}
.youtube:hover {
    transform: scale(1.09);
    color: #2c4755;
}
.facebook:hover {
    transform: scale(1.09);
    color: #2c4755;
}
header .links ul li:hover{
    color: #0076ff;
  }
